<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<link rel="stylesheet" href="../../static/assets/css/app.css">
<link rel="stylesheet" type="text/css" th:href="@{~/assets/css/fcmb.css}">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!--<head>-->
    <meta http-equiv="refresh" content="30">
<!--</head>-->

<style>
    .card-180{
        border-radius: 5px!important;
        max-width: 217px!important;
        min-width: 215px!important;
    }

    .theme-color{
        color:  #513192!important;
        text-shadow: 0 0 2px rgba(81, 49, 146, 0.73) !important;
    }

    .dash-card{
        flex: 0 0 16.66667%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 16.6667%;
        max-width: 16.66667%;
    }


</style>

<body>

<div layout:fragment="content">


    <!-- partial:partials/_head.html -->
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <!-- partial -->
    <div class="page has-sidebar-left">
        <!-- partial:partials/_searchBar.html -->
        <!-- partial -->
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 " id="alignHeader">
                    <div class="col">
                        <h4>
                            <i class="icon-home"></i>
                            Dashboard
                        </h4>
                    </div>

                </div>
                <div class="row justify-content-between">

                </div>
            </div>
        </header>
        <!--<div class="container-fluid animatedParent animateOnce mb-3">-->
        <div class="container-fluid animatedParent animateOnce my-3">
            <div class="animated fadeInUpShort">

                <div class="row">

                <div class="d-flex row-eq-height my-3 col-md-12">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header white">Recent Transactions</div>
                            <div class="card-body slimScroll" data-height="450">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>STAN</td>
                                            <td></td>
                                            <td>OPERATOR ID</td>
                                            <td>TERMINAL ID</td>
                                            <td>TRAN TYPE</td>
                                            <td>AMOUNT</td>
                                            <td>STATUS</td>
                                            <td>RESPONSE MESSAGE</td>
                                            <td>DATE</td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>

            </div>
        </div>

    </div>
</div>
    <th:block layout:fragment="scripts">
        <!--<script th:src="@{~/assets/js/jquery.spring-friendly.min.js}"></script>-->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfBe7UuP98bQLgQFHJN-9TSE4EtzNtCzc&callback=initMap">
        </script>


        <script>


        </script>

    </th:block>
</body>
</html>